* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 2;
  padding: 0px 20px;
  height: 100vh;
  font-weight: 400;
}
/* Navigation bar */
.nav {
  width: auto;
  float: right;
}

.topnav a {
  text-decoration: none;
  float: right;
  color: black;
  text-align: center;
  padding: 24px 16px;
  font-size: 16px;
  border-top: 3px solid transparent;
  margin-right: 20px;
}
.topnav-right {
  float: right;
}
.nav-seperate {
  display: inline-block;
}
.topnav a:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}
.topnav {
  float: right;
  overflow: hidden;
  background-color: white;
}
.findaplace {
  margin-left: 20px;
  margin-bottom: -5px;
}

/* Filters */

.filters {
  margin-left: 20px;
  margin-top: 55px;
  display: inline-block;
}
.input-group {
  display: inline-block;
}
.icon {
  display: flex;
  color: #0065fc;
  width: 50px;
  align-items: center;
  background: #95bfff80;
  border-radius: 10px;
  padding: 10px;
}
.icon {
  border-radius: 30px;
  position: relative;
  margin-left: -41px;
  padding: 16px;
}

.filters-text {
  display: inline-block;
  margin-right: 20px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.button {
  border: 2px solid lightgray;
  background: white;
  border-radius: 30px;
  display: inline-block;
  font-size: 15px;
  padding: 0px 30px 0px 40px;
  margin-right: 10px;
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
  background: #95bfff80;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}
.filters-border {
  display: inline-block;
}
.romantic-button {
  display: inline-block;
}
.filter-type {
  display: inline-block;
  padding-left: 10px;
}
.filter {
  padding: 30px 2px 10px 2px;
}
/* header section */
.logo {
  display: inline-block;
  margin: 20px 20px;
}
.downtown {
  padding-bottom: 20px;
  margin-left: 20px;
}
.h2 {
  position: relative;
  top: 1px;
  padding: 1px;
  color: black;
}

/* search bar */
.Search > input {
  font-family: "Raleway", sans-serif;
  flex: 1;
  height: 100%;
  border: solid rgb(238, 236, 236);
  outline: none;
  font-size: 16px;
  color: black;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 15px;
  margin: -4.5px;
}
.submit {
  width: 80px;
  height: 100%;
  background: #0065fc;
  text-align: center;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 0px 14px 14px 0px;
  padding-top: 16px;
  padding-bottom: 12px;
  margin: -7px;
}
.Search > i {
  display: inline-block;
  color: black;
  background: #d2d2d287;
  font-size: 20px;
  height: 150%;
  align-items: center;
  justify-content: center;
  min-width: 5px;
  padding: 13px 10px 13.3px 20px;
  border-radius: 14px 0px 0px 14px;
  margin-left: 20px;
}

.information i {
  color: #0065fc;
  margin-left: 20px;
}
.info {
  display: inline-block;
  padding-bottom: 20px;
}
.info-icon {
  color: #0065fc;
  margin-right: 10px;
  border-radius: 100%;
  border: 1px solid #b4adad;
  padding: 5px 10px 5px 10px;
}
.city {
  margin-left: 60px;
  margin-top: -30px;
  padding-bottom: 20px;
}
.information {
  margin-top: 20px;
  display: inline;
  flex-direction: row;
  align-items: flex-start;
}
.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-between;
}
.accomodations-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0px;
  border-radius: 20px;
  width: 900px;
  background: #f2f2f2;
  padding: 3%;
  height: 600px;
  margin-left: 20px;
}
.accomodations-div a {
  text-decoration: none;
  color: black;
}
.show-more {
  text-decoration: none;
  color: black;
  padding-top: 1px;
  font-style: bold;
}
/* aside accomodations */
.accomodation-side-div {
  float: right;
  margin-top: 0px;
  margin-right: 0px;
  width: 420px;
  background: #f2f2f2;
  border-radius: 20px;
  height: 600px;
}
.accomodation-side-div a {
  text-decoration: none;
  color: black;
}

.most-icon {
  display: inline;
  float: right;
  margin: 30px 30px 0px 0px;
}
.most-popular-h2 {
  margin-top: 20px;
  padding: 0px 0px 0px 30px;
  display: inline-block;
}
.pictures-div {
  display: inline-block;
  background-color: white;
  border: 2px solid #ffffff;
  border-radius: 20px 20px 20px 20px;
  width: 250px;
  height: 200px;
  margin-left: 0px;
  margin-right: 16px;
  margin-bottom: 20px;
}

.image-hotels {
  border-radius: 15px 15px 0px 0px;
  display: inline-block;
  object-fit: cover;
  width: 243px;
  height: 110px;
  margin: 1px 0px 0px 2px;
}
.hotel-info {
  margin-top: -10px;
  padding-bottom: 20px;
  margin-left: 12px;
}
.prices {
  margin-top: -8px;
  padding-bottom: 20px;
  margin-left: 0px;
  font-size: 15px;
}
.stars {
  color: #0065fc;
  margin-top: 2px;
}
.grey-star {
  color: #f2f2f2;
  display: inline;
}

.Accomodations-h2 {
  margin-bottom: 20px;
}
.morning-sun {
  display: inline-block;
  background-color: white;
  border: 3px solid #ffffff;
  border-radius: 20px 5px 0px 20px;
  width: 140px;
  height: 130px;
  margin-left: 0px;
  object-fit: cover;
}
.aside-pictures-flex {
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  margin-left: 30px;
  height: 130px;
  width: 350px;
  margin-top: 20px;
  box-shadow: 1px 5px 5px 1px #c7c6c6;
}
.aside-pictures {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.makespace {
  padding: 0px 0px 20px 0px;
}
.right-of-picture {
  display: inline-block;
}
.hotel-info2 {
  margin-top: 0px;
  margin-bottom: 22px;
  padding-bottom: 2px;
  margin-left: 12px;
}
.hotel-info3 {
  margin-bottom: 12px;
  padding-bottom: 2px;
  margin-left: 12px;
  line-height: 1;
}
.hotel-info4 {
  margin-bottom: 12px;
  padding-bottom: 2px;
  margin-left: 12px;
  line-height: 1;
}
.prices2 {
  margin-top: 0px;
  padding-bottom: 20px;
  margin-left: 12px;
  font-size: 15px;
}
.stars2 {
  color: #0065fc;
  margin-left: 12px;
  margin-top: -3px;
  position: relative;
  bottom: 10px;
}
/* Gallery */
.activities-container a {
  text-decoration: none;
  color: black;
}

.activites-text {
  padding: 50px 0px 10px 30px;
}

.old-port-image {
  width: 310px;
  height: 400px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.old-port-border {
  width: 312px;
  background-color: #ffffff;
  height: 450px;
  border-radius: 20px;
  border: solid 1px;
  border-color: #f2f2f2;
  box-shadow: 0px 5px 5px 0px #f2f2f2;
  margin-left: 30px;
}
.image-info {
  padding: 0px 0px 2px 20px;
  font-style: bold;
}
.activities-container {
  display: flex;
  flex-direction: row;
}
.pomégues-border {
  width: 312px;
  background-color: #ffffff;
  height: 225px;
  border-radius: 20px;
  border: solid 1px;
  border-color: #f2f2f2;
  margin-left: 30px;
  box-shadow: 0px 5px 5px 0px #f2f2f2;
}
.pomégues-image {
  width: 310px;
  height: 175px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.frioul-border {
  width: 312px;
  background-color: #ffffff;
  height: 180px;
  border-radius: 20px;
  border: solid 1px;
  border-color: #f2f2f2;
  margin-left: 30px;
  margin-top: 40px;
  box-shadow: 0px 5px 5px 0px #f2f2f2;
}
.frioul-image {
  width: 310px;
  height: 130px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.national-park-border {
  width: 312px;
  background-color: #ffffff;
  height: 450px;
  border-radius: 20px;
  border: solid 1px;
  border-color: #f2f2f2;
  margin-left: 30px;
  box-shadow: 0px 5px 5px 0px #f2f2f2;
}
.national-park-image {
  width: 310px;
  height: 400px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.notre-dame-border {
  width: 332px;
  background-color: #ffffff;
  height: 205px;
  border-radius: 20px;
  border: solid 1px;
  border-color: #f2f2f2;
  margin-left: 30px;
  box-shadow: 0px 5px 5px 0px #f2f2f2;
}
.notre-dame-image {
  width: 330px;
  height: 155px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.longchamp-border {
  width: 332px;
  background-color: #ffffff;
  height: 205px;
  border-radius: 20px;
  border: solid 1px;
  border-color: #f2f2f2;
  margin-left: 30px;
  margin-top: 40px;
  box-shadow: 0px 5px 5px 0px #f2f2f2;
}
.longchamp-image {
  width: 330px;
  height: 155px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
/* Footer */
.footer-container {
  display: flex;
  position: absolute;
  flex-direction: row;
  height: 200px;
  width: 100%;
  bottom: 1;
  left: 0;
  background-color: #f2f2f2;
  margin-top: 60px;
  margin-left: 0px;
}
.footer-container a {
  text-decoration: none;
  color: black;
}
.footer-container ul {
  list-style-type: none;
}
.about-section {
  font-size: 14px;
  padding: 40px 200px 0px 60px;
}
.our-accomodations {
  font-size: 14px;
  padding: 40px 200px 0px 60px;
}
.assistance-section {
  font-size: 14px;
  padding: 40px 0px 0px 60px;
}
.signupdiv {
  display: inline;
}
.search-icon-button {
  width: 48px;
  height: 48px;
  border-radius: 13px;
  background-color: #0065fc;
  border: none;
}
.search-icon {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  color: white;
  font-size: 18px;
}
.trial {
  display: inline;
}

/* media query */
/* desktop */

@media screen and (min-width: 1024px) {
  .search-icon-button {
    display: none;
  }
  .search-icon {
    display: none;
  }
  .activities-container {
    width: 100%;
  }

  .footer-container {
    width: 100%;
  }
}
/* Tablet view */
@media screen and (max-width: 768px) {
  .accomodations-div {
    display: inline-block;
    width: 90%;
    height: 78%;
    margin-top: 30px;
  }
  .search-icon-button {
    display: inline;
    margin-left: -10px;
  }
  .filters {
    margin-top: 20px;
  }
  .input-group {
    margin-top: 10px;
  }
  .accomodation-side-div {
    float: right;
    margin-top: 0px;
    width: 90%;
    background: #f2f2f2;
    border-radius: 20px;
    height: 600px;
    align-items: center;
    margin-right: 50px;
  }
  .flexbox-container {
    display: flex;
    flex-direction: row;
  }
  .submit {
    display: none;
  }
  .activities-container {
    display: flex;
    flex-wrap: wrap;
  }
  .about-section {
    padding-right: 20px;
  }
  .our-accomodations {
    padding-right: 20px;
  }
  .footer-container {
    width: 100%;
    height: 50%;
  }
}

/* Iphone 8 display */
@media screen and (max-width: 480px) {
  .nav-seperate a:hover {
    border-top: none;
    padding-bottom: 7px;
    color: #0065fc;
    border-bottom: 4px solid #0065fc;
  }
  .information i {
    margin-left: 10px;
  }
  .trial {
    margin-left: 50px;
  }
  .nav-seperate {
    margin-top: -30px;
    margin-right: 30px;
    align-items: center;
    padding: 0px 0px 0px 0px;
    border-bottom: 3px solid #f2f2f2;
  }
  .topnav {
    float: right;
  }
  .input-group {
    padding: 5px;
  }
  .signupdiv {
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .findaplace {
    font-size: 16px;
    margin-top: 100px;
  }
  .info {
    display: inline;
  }
  .city {
    display: inline-block;
    margin-left: 0px;
  }
  .info-icon {
    display: block;
  }
  .makespace {
    padding: 0px;
  }

  /* accomodations */
  .accomodation-side-div {
    margin-bottom: 30px;
    margin-right: 0px;
    margin-top: 10px;
    border-radius: 0px;
    width: 100%;
  }
  .aside-pictures-flex {
    margin-left: 0px;
    width: 100%;
  }
  .accomodations-div {
    display: inline;
    background: white;
    padding: 0%;
  }
  .pictures-div {
    box-shadow: 0px 5px 5px 0px #f2f2f2;
  }
  .flexbox-container {
    display: inline;
  }
  /* Activities */
  .activities-container {
    display: inline;
    justify-content: space-around;
  }
  .activites-text {
    padding: 0px 0px 10px 10px;
  }
  .frioul-border {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .national-park-border {
    margin-bottom: 20px;
  }
  .notre-dame-image {
    width: 310px;
  }
  .notre-dame-border {
    width: 312px;
  }
  .longchamp-border {
    width: 312px;
    margin-top: 20px;
  }
  .longchamp-image {
    width: 310px;
  }
  .image-hotels {
    width: 100%;
  }
  .show-more {
    font-style: bold;
  }
  .filters {
    display: block;
  }
  .input-group {
    justify-content: space-between;
  }
  .pictures-div {
    width: 100%;
    margin-left: 0px;
  }
  .old-port-border {
    margin-bottom: 20px;
  }
  /* searchbar */
  .submit {
    width: 48px;
    height: 48px;
    padding-bottom: 17px;
    border-radius: 13px;
  }
  .searchtext {
    display: none;
  }
  .submit {
    display: none;
  }
  .search-icon-button {
    display: inline;
    margin-left: -10px;
  }
  .show-more {
    padding-bottom: 30px;
  }

  /* footer */
  .footer-container {
    display: inline;
    height: 70%;
    width: 100%;
  }
}
